.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
    padding-bottom: 4rem;
}

.distance {
    padding: 1rem;
}

.background_green {
    margin: 1rem;
    background-color: #e1ebde;
}