.del {
    background: #db5959;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    float: right;
}

.horse {
    background: #f4f4f4;
    padding: 10px;
    border: 1px #ccc dotted;
    height: 3em;
    width: 100%;
    text-align: left;
    outline: none;
}

.horse:active {
    outline: none;
    background-color: #666;
    color: white;
}

.marigingo {
    margin: 0;
}

//from add horse
.form {
    margin: 0em;
}

.form input[type='text'] {
    flex: 2;
    padding: 5px;
}

.form input[type='date'] {
    flex: 2;
    padding: 5px;
}

.form select {
    flex: 2;
    padding: 5px;
}

.form input[type='submit'] {
    width: 100%;
}

.ul {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    list-style-type: none;
}

.li {
    display: flex;
    height: 2.5em;
}

.h1 {
    font-size: 2em;
}

.span {
    width: 5rem;
}